.lead {
    max-width: 984px;
    min-height: 1005px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items:center;
    overflow: hidden;
    padding: 56px 0 0 0;
    box-sizing: border-box;
}

@media screen and (max-width: 1140px) {
    .lead {
        max-width: 928px;
        min-height: 962px;
        padding: 48px 0 0 0;
    }

}

@media screen and (max-width: 984px) {
    .lead {
        max-width: 720px;
        min-height: 862px;
    }

}

@media screen and (max-width: 568px) {
    .lead {
        max-width: 320px;
        min-height: 406px;
    }

}

