.footer__links {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;

}


@media screen and (max-width: 1140px) {
    .footer__links {
        max-width: 928px;
    
    }
}

@media screen and (max-width: 984px) {
    .footer__links {
        max-width: 720px;
    
    }
}

@media screen and (max-width: 568px) {
    .footer__links {
        flex-direction: column;
        align-items: flex-start;
        max-width: 186px;
    
    }
}