.lead__figure {
    margin: 0;
    padding: 64px 0 0;
    box-sizing: border-box;
    width: 100%;

}

@media screen and (max-width: 1140px) {
    .lead__figure {
        padding: 56px 0 0;
    }
}

@media screen and (max-width: 568px) {
    .lead__figure {
        padding: 40px 0 0;
        
    }
}
